<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="AirportOrders.Properties.Settings.eAirlinesConnectionString"
            connectionString="Data Source=MACVO-PC\SQLEXPRESS;Initial Catalog=eAirlines;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IAMSIntegrationService" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost/SITAAMSIntegrationService/v2/SITAAMSIntegrationService"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IAMSIntegrationService"
                contract="ServiceReferenceSita.IAMSIntegrationService" name="BasicHttpBinding_IAMSIntegrationService" />
        </client>
    </system.serviceModel>
  <appSettings>
    <add key="UpdateTime" value="10000" />
    <add key="timerKezegi" value="ScanWeb" />
    <add key="Token" value="d2ad08e1-8e92-46e5-9788-1e4e56457c18" />
  </appSettings>
</configuration>